APP_NAME=Gestão de Perfis e Permissões
APP_VERSION=2.0.0
APP_ENV=homologation
PUBLIC_BASE_URL=https://perfis-permissoes-hml.exemplo.org.br
SECRET_KEY=INJETAR_PELO_COFRE_COM_64_CARACTERES_ALEATORIOS
DATABASE_URL=postgresql+psycopg://USUARIO:SENHA@HOST:5432/caed_permissions_hml?sslmode=require
RUN_MIGRATIONS_ON_STARTUP=false
SEED_ON_STARTUP=false
AUTH_MODE=oidc
OIDC_DISCOVERY_URL=https://login.microsoftonline.com/TENANT_ID/v2.0/.well-known/openid-configuration
OIDC_CLIENT_ID=CLIENT_ID_HOMOLOGACAO
OIDC_CLIENT_SECRET=INJETAR_PELO_COFRE
OIDC_SCOPES=openid profile email
OIDC_AUTO_PROVISION=true
OIDC_DEFAULT_ROLE=Solicitante
OIDC_GROUP_CLAIM=groups
OIDC_GROUP_ROLE_MAP_JSON={"GRUPO_ADMIN_ID":"Administrador","GRUPO_REVISOR_ID":"Revisor","GRUPO_APROVADOR_ID":"Aprovador","GRUPO_AUDITOR_ID":"Auditor"}
OIDC_LOGOUT_URL=
SESSION_HTTPS_ONLY=true
SESSION_SAME_SITE=lax
FORCE_HTTPS=true
TRUSTED_HOSTS=perfis-permissoes-hml.exemplo.org.br,web
ALLOWED_ORIGINS=https://perfis-permissoes-hml.exemplo.org.br
FORWARDED_ALLOW_IPS=10.0.0.0/8
ENABLE_API_DOCS=true
LOG_LEVEL=INFO
LOG_JSON=true
METRICS_ENABLED=true
METRICS_BEARER_TOKEN=INJETAR_PELO_COFRE
APPROVAL_DEFAULT_REVIEWER=Nome do revisor de homologação
APPROVAL_DEFAULT_FINAL_APPROVER=Nome do aprovador de homologação
BIZAGI_ENABLED=true
BIZAGI_AUTO_SYNC_AFTER_APPROVAL=false
BIZAGI_BASE_URL=https://BIZAGI-HML/PROJECT-HML
BIZAGI_CLIENT_ID=CLIENT_ID_BIZAGI_HML
BIZAGI_CLIENT_SECRET=INJETAR_PELO_COFRE
BIZAGI_PROCESS_ID=GUID_DO_PROCESSO_HML
BIZAGI_SCOPE=api
BIZAGI_PAYLOAD_XPATH=PerfisPermissoes.PayloadJson
BIZAGI_PROCESS_CODE_XPATH=PerfisPermissoes.CodigoProcesso
BIZAGI_PROCESS_NAME_XPATH=PerfisPermissoes.NomeProcesso
BIZAGI_STATUS_XPATH=PerfisPermissoes.StatusAprovacao
BIZAGI_CORRELATION_XPATH=PerfisPermissoes.CorrelationId
BIZAGI_VERSION_XPATH=PerfisPermissoes.Versao
BIZAGI_VERIFY_SSL=true
N8N_ENABLED=true
N8N_WEBHOOK_URL=https://n8n-hml.exemplo.org.br/webhook/caed-perfis-permissoes
N8N_WEBHOOK_SECRET=INJETAR_PELO_COFRE_COM_NO_MINIMO_24_CARACTERES
N8N_VERIFY_SSL=true
SMTP_ENABLED=false
